[submodule "BjolangRuntime/RrbList"]
	path = BjolangRuntime/RrbList
	url = https://github.com/bjoli/RrbList
[submodule "BjolangRuntime/Map"]
	path = BjolangRuntime/Map
	url = https://github.com/bjoli/Map
[submodule "BjolangRuntime/SchemeList"]
	path = BjolangRuntime/SchemeList
	url = https://github.com/bjoli/SchemeList
[submodule "BjolangRuntime/Bjoml"]
	path = BjolangRuntime/Bjoml
	url = https://github.com/bjoli/Bjoml
[submodule "BjolangRuntime/OrderedSet"]
	path = BjolangRuntime/OrderedSet
	url = git@github.com:bjoli/OrderedSet.git
[submodule "BjolangRuntime/OrderedMap"]
	path = BjolangRuntime/OrderedMap
	url = git@github.com:bjoli/OrderedMap.git
[submodule "BjolangRuntime/Set"]
	path = BjolangRuntime/Set
	url = git@github.com:bjoli/Set.git
