[submodule "BjolangRuntime/RrbList"]
	path = BjolangRuntime/RrbList
	url = https://github.com/bjoli/RrbList
[submodule "BjolangRuntime/Map"]
	path = BjolangRuntime/Map
	url = https://github.com/bjoli/Map
[submodule "BjolangRuntime/SchemeList"]
	path = BjolangRuntime/SchemeList
	url = https://github.com/bjoli/SchemeList
[submodule "BjolangRuntime/Bjoml"]
	path = BjolangRuntime/Bjoml
	url = https://github.com/bjoli/Bjoml
