.r7rs-benchmarks/
.build/
chez/r7rs/**/*.so
bjolang/*.exe
bjolang/*.dll
bjolang/*.pdb
bjolang/*.deps.json
bjolang/*.runtimeconfig.json
bjolang/*.bjobuild
bjolang/*.log
bjolang-idiomatic/*.exe
bjolang-idiomatic/*.dll
bjolang-idiomatic/*.pdb
bjolang-idiomatic/*.deps.json
bjolang-idiomatic/*.runtimeconfig.json
bjolang-idiomatic/*.bjobuild
bjolang-idiomatic/*.log
